@import "tailwindcss";

@media print {
  @page {
    margin: 1cm;
    size: A4;
  }
  
  html, body {
    height: auto !important;
    overflow: visible !important;
  }

  .min-h-screen {
    min-height: auto !important;
  }
}